<h2>About us</h2>
<p>You reached <strong>fekr.tech</strong>, the team that helps your start-up with AI, Big Data, NoSQL and Emergent technologies. Now the bleeding edge doesn't hurt!</p>

<h2>What we do</h2>
<ul>
  <li> 
    Software craftsmanship: Clojure, Java and Go.</li>
  <li> 
    Big Data on the apache stack: Hadoop and Spark. </li>
  <li> 
    AI : Deep learning, Natural Language Processing</li>
  <li> 
    NoSQL: MongoDB, Redis, HBase, Solr</li>
   <li> 
   DevOps: Continous Integration, TDD, Containers(Docker,Docker-Compose), Cloud(GCE, OpenStack)
   </li>
  
</ul>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/turbopape">Our Open Source Work</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto: contact@fekr.tech">Contact Us!</a>
  </li>
</ul>
