<h2>About us</h2>
<p>You reached <strong>fekr.tech</strong>, the team that helps your start-up with AI, Big Data, NoSQL and Emergent technologies. Now the bleeding edge doesn't hurt!</p>

<h2>What we do</h2>
<ul>
  <li> <span class="fa fa-user fa-lg main-list-item-icon"></span>
    Software craftsmanship: Clojure, Java and Go.</li>
  <li> <span class="fa fa-user fa-lg main-list-item-icon"></span>
    Big Data on the apache stack: Hadoop and Spark. </li>
  <li> <span class="fa fa-user fa-lg main-list-item-icon"></span>
    AI : Deep learning, Natural Language Processing</li>
  <li> <span class="fa fa-user fa-lg main-list-item-icon"></span>
    NoSQL: MongoDB, Redis, HBase, Solr</li>
   <li> <span class="fa fa-user fa-lg main-list-item-icon"></span>
   DevOps: Continous Integration, TDD, Containers(Docker,Docker-Compose), Cloud(GCE, OpenStack)
   </li>
  <li> <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/turbopape">... Some cool open source work</a></li>
</ul>
<hr />
